.sm{
  width: 150px;
  height: 30px;
  outline: 0;
}

.md{
  width: 250px;
  height: 35px;
  outline: 0;
}

.lg{
  width: 350px;
  height: 40px;
  outline: 0;
}

.outliner{
  border: yellowgreen 1px solid;
}